body{
   background-color: rgb(105, 157, 86);
   margin: 0;
}

form input,button{
      border-radius: 50px;   
}
#headingStyle{
   display: flex;
   justify-content: center;
   background-color: rgb(22, 105, 77);
   align-items:center ;
   height: 7vh;
   font-size: 4vh;
   color: white;
}

#inputStyle{
   display: flex;
   justify-content: center;
   margin-top: 10vh;
}

input{
     width: 45vw;
  
}


#bothSelectOptionsStyle{
   display: flex;
   justify-content: center;
   gap: 8vw;
   margin-top:5vh;
}
#fromStyle{
   display: flex;
   justify-content: center;
   margin-left: 120px;
}
#toStyle{
   display: flex;
   justify-content: center;
    margin-right: 120px;
}
label{
   color: rgb(255, 255, 255);
   font-size: clamp(0px,4vh,23px);
}

#convertStyle{
   display: flex;
   justify-content: center;
   margin-top: 14vh;
}
#convert{
   font-size: clamp(0px,4vw,30px);
   border: black;
   border:solid;
}
#valueStyle{
   display: flex;
   justify-content: center;
   font-size: 4vh;
}
#value{
   color: white;
   background-color: rgb(76, 76, 76);
   border-radius: 10%;
}

select{
 width: 20vw;
 height: 5vh;
 margin-top: 10vh;
}
.options{
   font-size: clamp(0px,2vw,13px);
}


img{
   width: 10vw;
   height: 20vh;

   max-width: 150px;
   max-height: 150px;
   min-height: 100px;
}
#icon{
   color: white;
   font-size: 6vw;
}
button{
   cursor: pointer;
}